<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Improved Layered Navigation Page Import Entity
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_ImprovedLayeredNavigationPageImportEntity">
        <sequence>
            <module name="Amasty_Base"/>
            <module name="Amasty_ShopbyPage"/>
            <module name="Amasty_ImportCore"/>
        </sequence>
    </module>
</config>
