<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<catalog>
			<search>
				<search_suggestion_enabled>0</search_suggestion_enabled>
                <search_recommendations_enabled>0</search_recommendations_enabled>
			</search>
		</catalog>
	</default>
</config>