<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <brippo_payments_paymentelement>
                <active>0</active>
                <model>Ebizmarts\BrippoPayments\Model\PaymentElement</model>
                <title>Credit or Debit Card</title>
                <capture_method>automatic</capture_method>
                <three_d_secure>any</three_d_secure>
                <three_d_secure_threshold>50</three_d_secure_threshold>
                <include_wallets>1</include_wallets>
                <payment_option_logos>visa,mastercard,amex,googlepay,applepay,link</payment_option_logos>
                <payment_methods_available>automatic</payment_methods_available>
                <payment_methods>card,klarna,afterpay_clearpay</payment_methods>
                <theme>stripe</theme>
                <layout>tabs</layout>
                <labels></labels>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
            </brippo_payments_paymentelement>
            <brippo_payments_paymentelement_standalone>
                <active>0</active>
                <model>Ebizmarts\BrippoPayments\Model\PaymentMethods\PaymentElementStandalone</model>
                <title>Pay by Bank</title>
                <payment_method>pay_by_bank</payment_method>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
            </brippo_payments_paymentelement_standalone>
            <brippo_payments_express>
                <active>0</active>
                <capture_method>automatic</capture_method>
                <currency_mode>switcher</currency_mode>
                <location>product_page,cart,checkout,minicart</location>
                <checkout_location>on_top</checkout_location>
                <request_agreements>0</request_agreements>
                <checkout_button>wallet</checkout_button>
                <product_page_behavior>clean_cart</product_page_behavior>
                <product_page_amount_threshold>0.5</product_page_amount_threshold>
                <product_page_allowed_categories>ALL</product_page_allowed_categories>
                <coupon_code>0</coupon_code>
                <coupon_code_note></coupon_code_note>
                <model>Ebizmarts\BrippoPayments\Model\Express</model>
                <title>Express Wallet</title>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <blocked_shipping_methods></blocked_shipping_methods>
                <product_button_or>1</product_button_or>
                <wallets>applePay,googlePay,link</wallets>
                <button_type>default</button_type>
                <button_theme>dark</button_theme>
                <button_height>50</button_height>
                <checkout_form_validation_mode>only-agreements</checkout_form_validation_mode>
                <checkout_email>email_checkout</checkout_email>
                <minicart_button_or>1</minicart_button_or>
            </brippo_payments_express>
            <brippo_payments_paybylink>
                <active>0</active>
                <model>Ebizmarts\BrippoPayments\Model\PayByLink</model>
                <title>Pay by Link</title>
                <capture_method>automatic</capture_method>
                <note>Your order will be reserved. You will receive an email shortly with details to complete your payment.</note>
                <checkout_success_note>Your order has been reserved. You will receive an email shortly with details to complete your payment.</checkout_success_note>
                <hosted_confirmation_message>Your payment was successful. A confirmation email will be sent once your order is processed.</hosted_confirmation_message>
                <email_sender>sales</email_sender>
                <payment_option_logos>visa,mastercard,amex,googlepay,applepay,link</payment_option_logos>
            </brippo_payments_paybylink>
            <brippo_payments_paybylink_backend>
                <active>0</active>
                <model>Ebizmarts\BrippoPayments\Model\PayByLinkMoto</model>
                <title>Pay by Link Backend</title>
                <capture_method>automatic</capture_method>
                <hosted_confirmation_message>Your payment was successful. A confirmation email will be sent once your order is processed.</hosted_confirmation_message>
            </brippo_payments_paybylink_backend>
            <brippo_payments_ece>
                <active>0</active>
                <capture_method>automatic</capture_method>
                <model>Ebizmarts\BrippoPayments\Model\ExpressCheckoutElement</model>
                <title>Express Checkout</title>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <blocked_shipping_methods></blocked_shipping_methods>
                <locations_cart>1</locations_cart>
                <locations_cart_placement_selector></locations_cart_placement_selector>
                <locations_cart_placement_mode>beforeBegin</locations_cart_placement_mode>
                <locations_cart_or_separator>after</locations_cart_or_separator>
                <locations_cart_min_amount>0</locations_cart_min_amount>
                <locations_cart_max_amount>0</locations_cart_max_amount>
                <locations_minicart>1</locations_minicart>
                <locations_minicart_placement_selector></locations_minicart_placement_selector>
                <locations_minicart_placement_mode>afterBegin</locations_minicart_placement_mode>
                <locations_minicart_or_separator>after</locations_minicart_or_separator>
                <locations_minicart_min_amount>0</locations_minicart_min_amount>
                <locations_minicart_max_amount>0</locations_minicart_max_amount>
                <locations_minicart_event_type>click</locations_minicart_event_type>
                <locations_product>1</locations_product>
                <locations_product_placement_selector></locations_product_placement_selector>
                <locations_product_placement_mode>beforeEnd</locations_product_placement_mode>
                <locations_product_or_separator>before</locations_product_or_separator>
                <locations_product_min_amount>0</locations_product_min_amount>
                <locations_product_max_amount>0</locations_product_max_amount>
                <locations_checkout>1</locations_checkout>
                <locations_checkout_placement_selector></locations_checkout_placement_selector>
                <locations_checkout_placement_mode>afterBegin</locations_checkout_placement_mode>
                <locations_checkout_title>Express Checkout</locations_checkout_title>
                <locations_checkout_or_separator>no_separator</locations_checkout_or_separator>
                <locations_checkout_min_amount>0</locations_checkout_min_amount>
                <locations_checkout_max_amount>0</locations_checkout_max_amount>
                <locations_checkout_list>1</locations_checkout_list>
                <locations_checkout_min_amount_list>0</locations_checkout_min_amount_list>
                <locations_checkout_max_amount_list>0</locations_checkout_max_amount_list>
                <wallets_apple_pay>always</wallets_apple_pay>
                <wallets_applepay_order>1</wallets_applepay_order>
                <wallets_google_pay>always</wallets_google_pay>
                <wallets_googlepay_order>2</wallets_googlepay_order>
                <wallets_link>auto</wallets_link>
                <wallets_link_order>3</wallets_link_order>
                <layout_max_rows>0</layout_max_rows>
                <layout_max_columns>1</layout_max_columns>
                <layout_overflow>never</layout_overflow>
                <style_buttons_height>44</style_buttons_height>
                <style_buttons_corner_radius>4</style_buttons_corner_radius>
                <style_apple_pay>auto</style_apple_pay>
                <type_apple_pay>plain</type_apple_pay>
                <style_google_pay>auto</style_google_pay>
                <type_google_pay>buy</type_google_pay>
                <theme>stripe</theme>
                <style_font_size_base>16</style_font_size_base>
            </brippo_payments_ece>
            <brippo_payments_terminal_moto_backend>
                <active>0</active>
                <model>Ebizmarts\BrippoPayments\Model\TerminalBackend</model>
                <title>Brippo Terminal from Backend</title>
                <capture_method>automatic</capture_method>
            </brippo_payments_terminal_moto_backend>
        </payment>
        <brippo_payments>
            <global>
                <mode>test</mode>
                <currency_mode>switcher</currency_mode>
                <payments_monitor>1</payments_monitor>
                <specific_countries_active>0</specific_countries_active>
                <specific_country></specific_country>
                <debug_mode>0</debug_mode>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </global>
            <advanced>
                <soft_fail_recovery_active>0</soft_fail_recovery_active>
                <soft_fail_recovery_only_second>0</soft_fail_recovery_only_second>
                <soft_fail_recovery_allowed_codes>generic_errors,3ds_errors,incorrect_cvc_errors</soft_fail_recovery_allowed_codes>
                <soft_fail_recovery_email_sender>sales</soft_fail_recovery_email_sender>
                <soft_fail_recovery_expiration_hours>48</soft_fail_recovery_expiration_hours>
                <soft_fail_recovery_notifications>1</soft_fail_recovery_notifications>
            </advanced>
            <notifications>
                <uncaptured_transactions>1</uncaptured_transactions>
            </notifications>
            <recover_checkout>
                <active>0</active>
                <automatic_notifications>1</automatic_notifications>
                <automatic_notifications_first>24</automatic_notifications_first>
                <automatic_notifications_separation>24</automatic_notifications_separation>
                <automatic_notifications_email>1</automatic_notifications_email>
                <automatic_notifications_sender>sales</automatic_notifications_sender>
                <automatic_notifications_sms>0</automatic_notifications_sms>
                <automatic_notifications_whatsapp>0</automatic_notifications_whatsapp>
            </recover_checkout>
        </brippo_payments>
    </default>
</config>
