<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system_file.xsd">
    <system>
        <!-- Opayo/SagePay configuration section -->
        <section id="opayo" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Opayo Configuration</label>
            <tab>general</tab>
            <resource>Mw_Payment::config_opayo</resource>

            <!-- Group for General Settings -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <!-- Enable Opayo field -->
                <!-- <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Opayo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->

                <!-- Key field -->
                <field id="key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Opayo Key</label>
                </field>

                <!-- Password field -->
                <field id="password" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Opayo Password</label>
                </field>

                <!-- URL field -->
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Opayo URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
