<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sagepaysuite">
                <group id="sagepaysuitepi">
                    <field id="failed_payment_email" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send email on failed payment</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/sagepaysuitepi/failed_payment_email</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>